.document-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .document-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    flex: 1;
    margin: 5px;
  }
  
  .document-item a {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .document-item a:hover {
    background-color: white;
    color: black;
  }
  